@{
    ViewBag.Title = "Index";
}

<div class="container">
    <form asp-controller="Manager" asp-action="Index" class="form-horizontal" enctype="multipart/form-data">
        <label>Upload file:</label>
        <input type="file" name="file" id="file" class="form-control" />
        <input type="submit" class="btn btn-primary" value="Upload" />
    </form>
</div>